RewriteEngine on
# если ваш проект не находится в корневом каталоге веб-сервера, укажите путь в RewriteBase
# RewriteBase /path/to/project

# если файл или директория существуют, используйте их напрямую
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# в противном случае, отправьте запрос на index.php
RewriteRule . index.php